*~
*.o
*.a
*.dep
*.depend
*.built
*.config
*.version
*.updated
*.bdat
*.pdat
*.bin
*.hex
*.vrx
/NuttX/nuttx/Make.defs
/NuttX/nuttx/tools/mkconfig
/NuttX/nuttx/tools/mkdeps
/NuttX/nuttx/tools/mkversion
/NuttX/nuttx/include/math.h
/NuttX/nuttx/include/nuttx/config.h
/NuttX/nuttx/include/nuttx/version.h
/NuttX/nuttx/nuttx-export.zip
/NuttX/nuttx/setenv.sh
/NuttX/apps/builtin/builtin_list.h
/NuttX/apps/builtin/builtin_proto.h
/NuttX/nuttx/include/apps
/NuttX/nuttx/include/arch
/NuttX/nuttx/arch/arm/src/chip
/NuttX/nuttx/arch/arm/src/board
/NuttX/nuttx/arch/arm/include/chip
/NuttX/nuttx/arch/arm/include/board
/src/ardupilot
/Archives
/Build

/.settings/language.settings.xml
/.settings/language.settings.xml
